
.hide-row {
    display: none;
}

/* multi column layout*/
.container {
    display: flex;
}

.column {
    flex: 1;
}

.column-one {
    order: 1;
}

.column-two {
    order: 2;
}

.column-three {
    order: 3;
}

.column-four {
    order: 4;
}

.column-five {
    order: 5;
}
/* add more columns here if needed*/


/* Page aesthetics */
h4 {
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
}

.box-style {
    border-style: solid;
    border-width: 1px;

    margin-top: 2px;
    margin-bottom: 5px;
    margin-left: 1px;
    padding-bottom: 5px;
}

.box-style-no-border {

    margin-top: 2px;
    margin-bottom: 5px;
    margin-left: 1px;
    padding-bottom: 5px;
}

.box1 {
    background: #F5F5F5;
    border-color: black;
}

.box2 {
    background: #A9DFBF;
    border-color: black;
}

.box3 {
    background: #CCFFFF;
    border-color: black;
}

.box4 {
    background: #E8E8E8;
    border-color: black
}
