

.round-corners {
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px 4px 4px 4px;
}

/*  box-shadow: horizontal, vertical, blur radius, spread redius,  shadow-color */
.border-shadow {

    -moz-box-shadow: 0px 0px 10px 0px #000000;
    -webkit-box-shadow: 0px 0px 10px 0px #000000;
    box-shadow: 0px 0px 10px 0px #000000;
}

.ui-dialog-titlebar {
    padding: .4em 1em;
    position: relative;
    background: #DCDCDC;
}


/* dialog background color*/
.dialog-widget-content .ui-dialog.ui-widget-content {
    background: #F5F5F5;
}
/* button pane background*/
.ui-dialog .ui-dialog-buttonpane {
    text-align: left;
    border-width: 1px 0 0 0;
    background-image: none;
    margin-top: 1px;
    padding: 1px;
    background-color: #F0FFFF;
}

/* OK button*/
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset .ok-cls
{
    font-size:12px;
    color: #FFFFFF;
    width: 100px;
    background: #025aa5;
    margin: 1px;
}

/*Close button*/
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset .cancel-cls
{
    font-size:12px;
    color: #000000;
    width: 100px;
    background: #FFFFFF;
    margin: 1px;

}
