* {
    font: 12px Arial, sans-serif;
}

html,body {
   background-color:  #F5F5F5;
    margin: 0px;
}

.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
header {
    height: 30px;
    background-color: #DCDCDC;
    line-height: 30px;
    vertical-align: middle;
    padding-left: 5px

}

main {
    flex: 1;
}

.align-middle {
    text-align: center;
    vertical-align: middle;
}



.div-side-by-side {
    display: flex;
}
.div-left {
    flex: 0 0 40%;
}
div-right {
    flex: 1;
}

.dialog-button {
    margin: 5px 10px 15px 1px;
}